<div class="wrapper">
    <button type="button" 
            class="btn btn-primary"
            [routerLink]="0">Add new Skier</button>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Country</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>     
        <tr>
            <td colspan="5">
                <div class="centerContent">
                    <div class="search-vertical-center p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                        <div class="input-group">
                            <input type="search" #searchTerm
                                (keyup)="keyup.emit(searchTerm.value)"
                                placeholder="Search..." 
                                aria-describedby="button-addon1" 
                                class="form-control border-0 bg-light">
                            <div class="input-group-append">
                                <div *ngIf="isLoading" class="spinner-vertical">
                                    <div class="spinner-border text-primary spinner-border-sm" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary" disabled><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                        
                    </div>    

                    
                </div>
            </td>
        </tr>
        
        <tr *ngFor="let skier of skiers">
            <td class="text-center"><img [src]="skier.imageUrl"/></td>
            <td>{{skier.firstName}} {{skier.lastName}}</td>
            <td>{{skier.birthDate}}</td>
            <td>{{skier.country}}</td>
            <td>
                <div>
                    <div class="buttonRow">
                        <button type="button" 
                        class="btn btn-primary"
                        [routerLink]="skier.id">Edit</button>
                    </div>
                    <div class="buttonRow">
                        <button type="button" 
                        class="btn btn-primary"
                        (click)="deleteSkier(skier.id)">Delete</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>