<nav class="navbar navbar-expand-sm bg-dark navbar-dark"
     style="margin-bottom: 15px;">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <img class="logo" src="assets/images/hurace_logo.ico"
                 height="38" width="38" style="margin-right: 10px;"/>
            <a class="navbar-brand" routerLink="home">HURACE</a>
            <li class="nav-item">
                <a routerLink="home"  routerLinkActive="active" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="skiers" routerLinkActive="active" class="nav-link">Skier</a>
            </li>
            <li class="nav-item">
                <a routerLink="statistics" routerLinkActive="active" class="nav-link">Statistics</a>
            </li>
            <li class="nav-item">
                <a routerLink="live" routerLinkActive="active" class="nav-link">Live</a>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item active">
                <div>
                    <img *ngIf="loggedIn" src="assets/images/facebook_logo.png"
                         height="38" width="38" style="margin-right: 10px;"/>
                    <span *ngIf="loggedIn" class="badge badge-primary">
                        {{user?.firstName}}</span> 
                    <img *ngIf="loggedIn" src="{{user?.photoUrl}}"
                        height="38" width="38" style="margin-left: 15px; margin-right: 8px;">
                </div>
            </li>

            <li class="nav-item active">
                <a *ngIf="!loggedIn" [routerLink]="" 
                   (click)="signIn()" routerLinkActive="active" class="nav-link">
                    <span class="fa fa-sign-in"></span>
                    Login
                </a>
                <a *ngIf="loggedIn" [routerLink]="" 
                    (click)="signOut()" routerLinkActive="active" class="nav-link"> 
                    <span class="fa fa-sign-out"></span>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet> 