<nav class="navbar navbar-expand-sm bg-dark navbar-dark"
     style="margin-bottom: 15px;">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <a class="navbar-brand" routerLink="home">HURACE</a>
            <li class="nav-item active">
                <a routerLink="home"  routerLinkActive="active" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="skiers" routerLinkActive="active" class="nav-link">Skier</a>
            </li>
            <li class="nav-item">
                <a routerLink="live" routerLinkActive="active" class="nav-link disabled">Live</a>
            </li>
            <li class="nav-item">
                <a routerLink="statistics" routerLinkActive="active" class="nav-link disabled">Statistics</a>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item active">
                <a *ngIf="!isLoggedIn()" 
                   (click)="logInUser()" routerLinkActive="active" class="nav-link">
                    <span class="fa fa-sign-in"></span>
                    Login
                </a>
                <a *ngIf="isLoggedIn()" [routerLink]="" 
                   (click)="logOutUser()" routerLinkActive="active" class="nav-link">
                   <span class="badge badge-primary"
                         style="margin-right: 15px;">Andreas</span> 
                   <span class="fa fa-sign-out"></span>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet> 