img {
  width: 35%;
}

label {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.wrapper {
  text-align: center;
  margin: 10px;
}

.wrapper button {
  width: 300px;
  margin: 20px;
}

.myFault {
  margin-top: 5px;
  margin-bottom: 0px;
}

.margin {
  margin-left: 0px;
  margin-right: 0px;
}