img {
    width: 20%;
}

.wrapper {
    text-align: center;
    margin: 20px;
}

td {
    vertical-align: middle;
    font-size: larger;
    padding: 2px;
}

.marginLeft25 {
    margin-left: 25px;
}