<div *ngIf="loggedIn" >
    <div class="wrapper">
        <h1>Propose Skier for Startlist</h1>
    </div>

    <div class="centerContent">
        <select class="selectpicker"
                data-live-search="true"
                name="skiername"
                [(ngModel)]="selectedSkier">
            <option *ngFor="let skier of startlistDelta">
                {{skier.firstName}} {{skier.lastName}}
            </option>
        </select>

        <button type="button" 
                class="btn btn-primary marginLeft10"
                (click)="proposeSkier()">Propose</button>
    </div>
</div>

<div class="wrapper">
    <h1>Startlist</h1>
</div>

<table class="table table-striped table-dark table-hover">
    <tbody>
        <tr *ngFor="let skier of startlist; let i = index">
            <td><h1 class="marginLeft25">{{i + 1}}</h1></td>
            <td class="text-center"><img [src]="skier.imageUrl"/></td>
            <td>{{skier.firstName}} {{skier.lastName}}</td>
            <td>{{skier.birthDate | slice:0:10}} </td>
            <td>{{skier.country}}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="startlist.length == 0">
    <h5 class="wrapper">No Startlist available...</h5>
</div>
