<div class="wrapper">
    <h1>Races Overview</h1>
</div>

<div class="d-flex flex-wrap align-content-stretch">
    <div class="card text-white bg-primary mb-3" 
         *ngFor="let race of races">
        <div class="card-header">
            <h5>{{race?.label}}</h5>
            <p>{{race?.date}}</p>
        </div>
        <div class="card-body">
            <p class="card-title">Gender: {{race?.gender}}</p>
            <p class="card-title">Status: {{race?.status}}</p>
            <p class="card-text">Location: {{race?.location}}</p>
            <p class="card-text">Discipline: {{race?.raceType}}</p>
        </div>
    </div>
</div>