<div class="wrapper">
    <h3 *ngIf="isLive">{{race?.label}}</h3>
    <h3 *ngIf="!isLive">No live Race...</h3>
</div>

<div *ngIf="isLive">
    <div *ngIf="!isLoggedIn" class="marginLeft200 marginRight200">
        <table class="table table-striped table-dark">
            <tbody>
                <tr>
                    <td><h5>NEXT STARTER:</h5></td>
                    <td><img *ngIf="nextSkier != null"
                            style="width: 40%"
                            [src]="nextSkier?.imageUrl"/></td>
                    <td>
                        <h5>{{nextSkier?.firstName}} {{nextSkier?.lastName}}</h5>
                    </td>
                </tr>

                <tr>
                    <td><h5>CURRENT SKIER:</h5></td>
                    <td><img *ngIf="currentSkier != null"
                            style="width: 40%"
                            [src]="currentSkier?.imageUrl"/></td>
                    <td>
                        <h5>{{currentSkier?.firstName}} {{currentSkier?.lastName}}</h5>
                        <div *ngIf="currentIntermediate?.id > 1">
                            <h6 *ngIf="!timespanIsMinus(currentIntermediate?.time)"
                                class="text-danger">
                                {{currentIntermediate?.id}}: + {{currentIntermediate?.time | slice:3:-5}}
                            </h6>
                            <h6 *ngIf="timespanIsMinus(currentIntermediate?.time)"
                                class="text-success">
                                {{currentIntermediate?.id}}: {{currentIntermediate?.time | slice:3:-5}}
                            </h6>
                        </div>

                    </td>
                </tr>

                <tr>
                    <td><h5>FINISHED:</h5></td>
                    <td><img *ngIf="lastSkier != null"
                            style="width: 40%"
                            [src]="lastSkier?.imageUrl"/></td>
                    <td>
                        <div *ngIf="resultLastSkier != null && resultLastSkier.ordinal > 0">
                            <h5>{{lastSkier?.firstName}} {{lastSkier?.lastName}}</h5>
                            <h6>Rank: {{resultLastSkier?.ordinal}}</h6>
                            <h6>Time: {{resultLastSkier?.time | slice:3:-5}}</h6>

                            <h6 *ngIf="resultLastSkier?.ordinal == 1"
                                class="text-success">
                                {{resultLastSkier?.residue | slice:3:-5}}
                            </h6>
                            <h6 *ngIf="resultLastSkier?.ordinal != 1"
                                class="text-danger">
                                + {{resultLastSkier?.residue | slice:3:-5}}
                            </h6>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="isLoggedIn" class="marginLeft100 marginRight100">
        <table class="table table-striped table-dark">
            <tbody>
                <tr>
                    <td><h5>NEXT STARTER:</h5></td>
                    <td><img *ngIf="nextSkier != null"
                            style="width: 40%"
                            [src]="nextSkier?.imageUrl"/></td>
                    <td>
                        <h5>{{nextSkier?.firstName}} {{nextSkier?.lastName}}</h5>
                    </td>
                    <td *ngIf="isLoggedIn">
                        <div class="app-podium-result"
                             [allResults]="nextAllResults">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><h5>CURRENT SKIER:</h5></td>
                    <td><img *ngIf="currentSkier != null"
                            style="width: 40%"
                            [src]="currentSkier?.imageUrl"/></td>
                    <td>
                        <h5>{{currentSkier?.firstName}} {{currentSkier?.lastName}}</h5>
                        <div *ngIf="currentIntermediate?.id > 1">
                            <h6 *ngIf="!timespanIsMinus(currentIntermediate?.time)"
                                class="text-danger">
                                {{currentIntermediate?.id}}: + {{currentIntermediate?.time | slice:3:-5}}
                            </h6>
                            <h6 *ngIf="timespanIsMinus(currentIntermediate?.time)"
                                class="text-success">
                                {{currentIntermediate?.id}}: {{currentIntermediate?.time | slice:3:-5}}
                            </h6>
                        </div>
                    </td>
                    <td *ngIf="isLoggedIn">
                        <div class="app-podium-result"
                             [allResults]="currentAllResults">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><h5>FINISHED:</h5></td>
                    <td><img *ngIf="lastSkier != null"
                            style="width: 40%"
                            [src]="lastSkier?.imageUrl"/></td>
                    <td>
                        <div *ngIf="resultLastSkier != null && resultLastSkier.ordinal > 0">
                            <h5>{{lastSkier?.firstName}} {{lastSkier?.lastName}}</h5>
                            <h6>Rank: {{resultLastSkier?.ordinal}}</h6>
                            <h6>Time: {{resultLastSkier?.time | slice:3:-5}}</h6>

                            <h6 *ngIf="resultLastSkier?.ordinal == 1"
                                class="text-success">
                                {{resultLastSkier?.residue | slice:3:-5}}
                            </h6>
                            <h6 *ngIf="resultLastSkier?.ordinal != 1"
                                class="text-danger">
                                + {{resultLastSkier?.residue | slice:3:-5}}
                            </h6>
                        </div>
                    </td>
                    <td *ngIf="isLoggedIn">
                        <div class="app-podium-result"
                             [allResults]="lastAllResults">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="marginLeft200 marginRight200">
        <table class="table table-striped table-dark table-hover">
            <thead>
                <h5 class="margin10">Ranking</h5>
            </thead>
            <tbody>
                <tr *ngFor="let result of results">
                    <td>
                        <div *ngIf="result.ordinal > 0" class="text-center">
                            {{result.ordinal}}
                        </div>
                    </td>
                    <td class="text-center"><img [src]="result.countryImgUrl"/></td>
                    <td>{{result.name}}</td>
                    <!--<td>{{result.time | slice:3:-5}}</td>-->
                    <td>{{result.time}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="marginLeft200 marginRight200">
        <table *ngIf="furherStartlist.length > 0" class="table table-striped table-dark table-hover">
            <thead>
                <h5 class="margin10">Further Startlist</h5>
            </thead>
            <tbody>
                <tr *ngFor="let startpos of furherStartlist">
                        <td *ngIf="startpos.ordinal > 0">{{startpos.ordinal}}</td>
                        <td *ngIf="startpos.ordinal > 0">
                            {{startpos.skier.firstName}} {{startpos.skier.lastName}}
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
