
<ul class="nav nav-tabs  bg-dark text-white">
    <li class="nav-item">
        <a *ngIf="allVisible" class="nav-link active" 
            [routerLink]="" (click)="showAll()">All</a>
        <a *ngIf="!allVisible" class="nav-link text-white" 
            [routerLink]="" (click)="showAll()">All</a>
    </li>
    <li class="nav-item">
        <a *ngIf="slalomVisible" class="nav-link active" 
            [routerLink]="" (click)="showSlalom()">Slalom</a>
        <a *ngIf="!slalomVisible" class="nav-link text-white" 
            [routerLink]="" (click)="showSlalom()">Slalom</a>
    </li>
    <li class="nav-item">
        <a *ngIf="giantSlalomVisible" class="nav-link active" 
            [routerLink]="" (click)="showGiantSlalom()">Giant Slalom</a>
        <a *ngIf="!giantSlalomVisible" class="nav-link text-white" 
            [routerLink]="" (click)="showGiantSlalom()">Giant Slalom</a>
    </li>
</ul>

<!-- 
    ##### ALL #####
-->
<div *ngIf="allVisible" id="accordion">
    <div class="card bg-dark text-white"
         *ngFor="let raceLocation of raceLocations">
        <div class="card-header">
            <a class="card-link text-white" data-toggle="collapse" href="#ref-{{raceLocation.id}}" aria-expanded="false">
            {{raceLocation.location}}
            </a>
            <span class="badge badge-primary"
                  style="margin-left: 10px;">{{raceLocation.races.length}}</span> 
        </div>
        <div id="ref-{{raceLocation.id}}" class="collapse" 
             *ngFor="let race of raceLocation.races">
            <div class="card-body">
                <div class="container-fluid">
                    {{race.race.label}} ({{race.race.raceType}})
                    <a *ngIf="race.resultAvailable" class="float-right"
                        routerLink="result/{{race.race.id}}">Result</a>
                    <div *ngIf="!race.resultAvailable" class="float-right">
                        no result available
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
    ##### SLALOM #####
-->
<table *ngIf="slalomVisible" class="table table-striped table-dark table-hover">
    <tbody>     
        <tr *ngFor="let race of slalom">
            <td>{{race.race.label}}</td>
            <td>{{race.race.location}}</td>
            <td>{{race.race.gender}}</td>
            <td>
                <a *ngIf="race.resultAvailable" class="float-right"
                    routerLink="result/{{race.race.id}}">Result</a>
                <div *ngIf="!race.resultAvailable" class="float-right">
                    no result available
                </div>
            </td>
        </tr>
    </tbody>
</table>

<!-- 
    ##### GIANT SLALOM #####
-->
<table *ngIf="giantSlalomVisible" class="table table-striped table-dark table-hover">
    <tbody>     
        <tr *ngFor="let race of giantSlalom">
            <td>{{race.race.label}}</td>
            <td>{{race.race.location}}</td>
            <td>{{race.race.gender}}</td>
            <td>
                <a *ngIf="race.resultAvailable" class="float-right"
                    routerLink="result/{{race.race.id}}">Result</a>
                <div *ngIf="!race.resultAvailable" class="float-right">
                    no result available
                </div>    
            </td>
        </tr>
    </tbody>
</table>
